<!-- <mat-toolbar color="primary">
  Top Posters de Películas 2020
</mat-toolbar>

<div class="content">

  <mat-grid-list>

    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Joker</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        src="https://i.pinimg.com/236x/18/06/68/180668a8cddc20f78bd05924a7411814--why-so-serious-dark-night.jpg">

      <mat-card-actions>
        <button mat-raised-button (click)="onNavigate()">Ver reseña</button>

      </mat-card-actions>
    </mat-card>
 
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Joker</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        src="https://i.pinimg.com/236x/18/06/68/180668a8cddc20f78bd05924a7411814--why-so-serious-dark-night.jpg">

      <mat-card-actions>
        <button mat-raised-button (click)="onNavigate()">Ver reseña</button>

      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Joker</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        src="https://i.pinimg.com/236x/18/06/68/180668a8cddc20f78bd05924a7411814--why-so-serious-dark-night.jpg">

      <mat-card-actions>
        <button mat-raised-button (click)="onNavigate()">Ver reseña</button>

      </mat-card-actions>
    </mat-card>
  
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Joker</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        src="https://i.pinimg.com/236x/18/06/68/180668a8cddc20f78bd05924a7411814--why-so-serious-dark-night.jpg">

      <mat-card-actions>
        <button mat-raised-button (click)="onNavigate()">Ver reseña</button>

      </mat-card-actions>
    </mat-card>
   
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Joker</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        src="https://i.pinimg.com/236x/18/06/68/180668a8cddc20f78bd05924a7411814--why-so-serious-dark-night.jpg">

      <mat-card-actions>
        <button mat-raised-button (click)="onNavigate()">Ver reseña</button>

      </mat-card-actions>
    </mat-card>
  
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Joker</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        src="https://i.pinimg.com/236x/18/06/68/180668a8cddc20f78bd05924a7411814--why-so-serious-dark-night.jpg">

      <mat-card-actions>
        <button mat-raised-button (click)="onNavigate()">Ver reseña</button>

      </mat-card-actions>
    </mat-card>
 
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Joker</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        src="https://i.pinimg.com/236x/18/06/68/180668a8cddc20f78bd05924a7411814--why-so-serious-dark-night.jpg">

      <mat-card-actions>
        <button mat-raised-button (click)="onNavigate()">Ver reseña</button>

      </mat-card-actions>
    </mat-card>
  </mat-grid-list>
</div> -->

<div class="im1">
  <img src="https://a-static.besthdwallpaper.com/avengers-guerra-infinity-todos-los-heroes-papel-pintado-2304x768-894_103.jpg" alt="First slide">
  <h3 style="text-align: center;" style="text-align: center;">LOS ESTRENOS DE MARVEL 2021 EN UN CLICK</h3>
  <button style="margin: auto;display: block;" mat-raised-button color="primary" (click)="onNavigate()">ver estrenos</button>
</div>





