.container-fluid{
   width: 100% !important;
}
.ui-menubar-root-list {
    padding-left:32px;
  }
  
  img#logo {
    position:absolute;
    margin-left: 20px;
    left:0;
    top:0;
    width: 8%;
  }
html,body{
    margin: 0;
    width: 100%;
    min-width: 100%;
}
*{
  padding: 5px;
}
input{
 margin-right: 10px;
}
.right{
  align-items: left;
}

.mat-toolbar{
  background-color: #ffc107;
  box-shadow: #333333 2px 2px 7px;
  color: #333333;
}
